a {
 color: salmon;
  background-color: aquamarine;
  width: 30%;
  text-align:center;
 position: absolute;
 top: 50px;
 left: 10px;
 z-index: 1;
}
h1 {
  text-align:center;
  color: green;
 position: absolute;
 top: 0px;
 left: 10px;
 z-index: 2;
}
button {
  color: green;
  width: 100px;
  height: 50px;
}
a:visited {
  color: olive;
}
a:hover {
  background-color: green;
  color: yellow;
}
button:hover {
  color: blue;
}
canvas {
 z-index: 0;
}
